* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", Calibri, sans-serif;
  padding: 3rem;
}

h1,
h2 {
  text-align: center;
}

button {
  font-size: 1.4rem;
  margin: 0 5px;
  padding: 5px;
}

#buttons {
  text-align: center;
  margin: 1rem;
}

h1 {
  font-size: 3rem;
  margin-top: 2rem;
}

h2 {
  font-size: 5rem;
}
